<h1>Productos</h1>
<form action="/productos" method="post">
  <div class="form-group">
    <label form="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" ><br>
  </div>
  <div class="form-group">
    <label form="apellido">Precio</label>
    <input type="text" name="precio" id="precio" placeholder="Precio"><br>
  </div>
  <div class="form-group">
    <label for="edad">Foto</label>
    <input type="text" name="foto" id="foto" placeholder="Foto"><br><br>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<a id="btn" href="http://localhost:8080/productosHandler">Ver productos</a>